html {
min-height: 100vh;
}

body {
background: url(src/b/wood.jpg) repeat ;
background-size: 20%;
display: flex;
justify-content: space-around;
align-items: stretch;
min-height: 100vh;
color: #161838;
line-height: 1.5;
}

header {
flex: 0 0 auto;
position: fixed;
z-index:1;
top: 0;
left: 0;
}

h1 {
margin: 15px;
}
.button {
padding: 10px;
width: 100%;
margin: 0;

}

.button {
border: outset 2px #cafffd;
background: #aedcda;
padding: 15px;
}
.button:hover {
border: inset 2px #cacaca99;}

.button {
border: outset 2px #cacaca;
background: no-repeat 100% url(src/b/metal.jpg) #aaaaaa80;
color: #161838;
background-blend-mode: hard-light;
width: 150px;
}
.button:hover {
border: inset 2px #e6e9e999;}

.button:last-child {
border-radius:0 0 20px 0;
}



aside {
position: fixed;
top: 0;
right: 0;
text-align: right;
padding: 10px;
}
main {
display: flex;
flex-direction: column;
align-items: center;
flex: 4;
padding: 30px 8vw;
}
section {
width: 149mm;
margin-top: 150px;
margin-bottom: 300px;
box-sizing: content-box;
padding: 50px;
border-radius: 30px;
background: url(src/b/wood2.jpg) repeat ;
background-size: 20%;
box-shadow: inset #453d3090 0 2px  20px 10px;
}

section::after {
pointer-events: none;
background: linear-gradient(135deg, rgba(242,246,248,0.15) 0%,rgba(200,225,231,0.15) 50%,rgba(181,210,220,0.15) 51%,rgba(210,239,249,0.15) 100%);
border: outset 1px rgba(145,194,203,0.15);
 content: '';
 position: absolute;
 border-radius: 30px;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
 transition: opacity 1s;
 opacity: 1;
}

section:hover::after {
pointer-events: none;
opacity: 0.2;
}



h1 {
margin-bottom: 50px;
}
h3 {
margin-bottom: 7px;
}
p {
margin-top: 15px;
}
.container {
margin: ;
width: fit-content;
}

.container::before {
position: absolute;
content: '';
width: calc(100% + 10px);
height: calc(100% - 20px);
left: -5px;
top: 10px;
background: #bbb;
border: 1px inset #888;
z-index: ;
}

.container:hover::before {
background: #fff;
border: 1px inset #fff;
}

.container:hover .leftArrow,
.container:hover .rightArrow {
opacity: 1
}


.slider-wrapper:hover .overlay {
opacity: 1;
}
.slider-wrapper:hover .negative {
opacity: 0;
}


.shadow {
position: absolute;
width: calc(100% - 2rem);
height: 24mm;
top:1.42rem;
left:1rem;
box-shadow: #adadad 0 3px 5px .9rem;
}
.container:hover .shadow, .slider-wrapper:hover {
box-shadow: #ffffff20 0 0px 20px 8px
}


.slider-wrapper {
max-width: 149mm;
overflow: auto;
scrollbar-width: none; /* Hide scrollbar Firefox */
box-shadow: #00000020 0 5px 15px 5px
}

.slider.overlay {
border-image: url(src/b/filmblack.png) 30 round;
background: #12000099;
background-clip: padding-box;

position: absolute;
opacity: 0;
}

.slider.negative {
border-image: url(src/b/film.png) 30 round;
background: #874827;
background-clip: padding-box;
pointer-events: none;
}


.slider {
min-width: max-content;
border: 1.42rem solid black;
display: flex;
border-left: 0;
border-right: 0;
margin:0;
padding: 0 1mm;
justify-content: space-between;
gap:1mm;
overflow-x: auto;
transition: opacity .7s ease-in-out;
}

.imgContainer {
width:36mm;
max-height: 24mm;
overflow: hidden;
}

.overlay img, .negative img {
max-width: 36mm;
mix-blend-mode: normal;
filter:brightness(100%);
}

.slider.overlay:hover img:hover {
filter: brightness(135%);
}

.negative img {
filter: invert(100%) brightness(100%) contrast(80%);
opacity: ;
/*transition: filter ease-in-out .5s;*/
mix-blend-mode: multiply;
}

img:hover {
cursor: zoom-in;
}
