<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>everx0plau</title>
<style>

* {
background-color: lightgreen;
}

a {
	font-size: 18px;
	color: darkblue;
}

body {
	padding: 20px;
}

</style>
	</head>
	<body>
		<h1>HTML-templates</h1>
		<p><em>adapted versions of templates by sadgrl.online</em></p>
		<p><a href="./template1.html">template1</a></p>
		<p><a href="./template1.txt"><em>copy paste template 1</em></a></p>
		<p><a href="./pinboard.html">pinboard template</a></p>
		<p><a href="./pinboard.txt"><em>copy paste pinboard</em></a></p>
		<p><a href="./minimal2000.html">minimal2000 template</a></p>
		<p><a href="./minimal2000.txt"><em>copy paste minimal2000</em></a></p>
	</body>

</html>
